include partials/header

block append
    script(src='../public/javascript/common.js')
    script(src='../public/javascript/add-expense.js')

block content
    div(class='btn-group')
            button(id="addExpenseBtn", class='btn btn-primary') Add new expense
                i(class='fas fa-cart-plus')
    include partials/add-expense-block
    div.text-center
        table(class='table table-striped')
            thead
                tr
                    th Name
                    th Type
                    th(class="d-none d-lg-table-cell") Mandatory
                    th(class="d-none d-lg-table-cell") Commentary
                    th(class="d-none d-lg-table-cell") Single-time
                    th Cost
                    th Created at
            tbody
                each expense in expenses
                    tr
                        td !{expense.name}
                        td !{expense.type}
                        td(class="d-none d-lg-table-cell") !{expense.is_mandatory}
                        td(class="d-none d-lg-table-cell") !{expense.commentary}
                        td(class="d-none d-lg-table-cell") !{expense.is_single_time}
                        td !{expense.cost}
                        td !{expense.createdAt}
include partials/footer
