include partials/header

block content
    div(class='btn-group')
        a(href='./add-expense', class='btn btn-primary') Add new expense
            i(class='fas fa-cart-plus')
    div.text-center
        table(class='table table-striped')
            thead
                tr
                    th Name
                    th Type
                    th Mandatory
                    th Commentary
                    th Single-time
                    th Cost
            tbody
                each expense in expenses
                    tr
                        td !{expense.name}
                        td !{expense.type}
                        td !{expense.is_mandatory}
                        td !{expense.commentary}
                        td !{expense.is_single_time}
                        td !{expense.cost}

include partials/footer
